body{
background-color:#928c8c;
}
#bodytodo{
 display: none;
}

#tudo{
   position: absolute;
   left: 40%;
 top:10%;
   background-color: aqua;
   width: 100px;
   text-align: center;
 
    }
input{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   height: 40px;
   width: 220px;
   margin-top: -1%;
   padding: 4px;
   border: 2px solid black;
}
#bnt1 {
   position: absolute;
   left: 35.7%;
   background-color: aqua;
   top: 10%;
   height: 50px;
   padding: auto;
   cursor: pointer;
}
#imageContainer{
   position: absolute;
   top: 30%;
   left: 36%;
   background-color: white;
   border-radius: 20px;
}


footer{
   
   position: absolute;
   background: linear-gradient(to right, rgb(6, 226, 255), 50%, rgb(0, 102, 255));
display: flex;
top: 90%;
left: -0.1%;
height: 13%;
width: 100%;


}
#h{

   margin-top: 2%;
   margin-left: 2%;
   
}

#a{
   margin-top: 1%;
   margin-left: 3%;
 
}
#b{
   margin-top: 1%;
   margin-left: 3%; 
  
}
#c{
   margin-top: 1%;
   margin-left: 3%;
}

#voltar{
   margin-top: 3%;
   color: white;
    
}
#volt{
   margin-top: -0.5%;
   margin-left:2%;
}
#texto2{
   margin-top: 2%;
   margin-left: -40%;
   

}
.spinner {
   width: 80px;
   height: 80px;
   --clr: rgb(127, 207, 255);
   --clr-alpha: rgb(127, 207, 255, .1);
   animation: spinner 2s infinite linear;
   transform-style: preserve-3d;
   
 }
 
 .spinner > div {
   background-color: var(--clr-alpha);
   height: 100%;
   position: absolute;
   width: 100%;
   border: 5px solid var(--clr);
 }
 
 .spinner div:nth-of-type(1) {
   transform: translateZ(-40px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
   transform: rotateY(-270deg) translateX(50%);
   transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
   transform: rotateY(270deg) translateX(-50%);
   transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
   transform: rotateX(90deg) translateY(-50%);
   transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
   transform: rotateX(-90deg) translateY(50%);
   transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
   transform: translateZ(40px);
 }
 
 @keyframes spinner {
   0% {
     transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
   }
 
   50% {
     transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
   }
 
   100% {
     transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
   }
 }
 #page{
  
   margin-top: 35%;
 }
 h1{
   position: absolute;
   color: white; 
   left: 25%; 
   top: 29%
 }
 #page {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 #container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 
 #h3 {
   color: white;
 }
 
 #ring {
   width: 190px;
   height: 190px;
   border: 1px solid transparent;
   border-radius: 50%;
   position: absolute;
 }
 
 #ring:nth-child(1) {
   border-bottom: 8px solid rgb(255, 141, 249);
   animation: rotate1 2s linear infinite;
 }
 
 @keyframes rotate1 {
   from {
     transform: rotateX(50deg) rotateZ(110deg);
   }
 
   to {
     transform: rotateX(50deg) rotateZ(470deg);
   }
 }
 
 #ring:nth-child(2) {
   border-bottom: 8px solid rgb(255,65,106);
   animation: rotate2 2s linear infinite;
 }
 
 @keyframes rotate2 {
   from {
     transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
   }
 
   to {
     transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
   }
 }
 
 #ring:nth-child(3) {
   border-bottom: 8px solid rgb(0, 255, 128);
   animation: rotate3 2s linear infinite;
 }
 
 @keyframes rotate3 {
   from {
     transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
   }
 
   to {
     transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
   }
 }
 
 #ring:nth-child(4) {
   border-bottom: 8px solid rgb(252, 183, 55);
   animation: rotate4 2s linear infinite;
 }
 
 @keyframes rotate4 {
   from {
     transform: rotateX(70deg) rotateZ(270deg);
   }
 
   to {
     transform: rotateX(70deg) rotateZ(630deg);
   }
 }
 #h2{
display: none;
margin-left: 15%;
 }
 #h5{
  display: none;
  margin-left: -15%;
 }
 #h4{
  display: none;
  margin-left: 15%;
 }
 h1{
  animation: green 2s linear infinite;
 
 }
 @media(max-width:414px){
  #aci{
    margin-left:-30%;
  }
  footer{
    margin-top:6%;
  }
 }
 